.oculta{
    background-color: gray;
}
.destapada{
    background-color: white;
}
.bandera{
    background-image: url(../../assets/imgs/flag.png);
}
.bomba{
    background-image: url(../../assets/imgs/bomb.png);
}